1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
# a)
print("a)")
i=1
for i in range(1,101):
    if i%3 == 0 and i%5 == 0: print("HelloWorld")
    elif i%3 == 0: print ("Hello")
    elif i%5 == 0: print ("World")
    else: print(i)

print("--------------------------------------")        
# b)
print("b)")
tp = (1,)
for i in range(2,101):
    tp_temp = (i,)
    if i%3 == 0 and i%5== 0:
        tp_temp = ("PythonWorks",)
        tp = (tp+tp_temp)
    elif i%3 == 0:
        tp_temp = ("Python",)
        tp = (tp+tp_temp)
    elif i%5 == 0:
        tp_temp = ("Works",)
        tp = (tp+tp_temp)
    else:
        tp = (tp+tp_temp)
print(tp)

a)
1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
--------------------------------------
b)
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
#x = input("set the value of x=")
#y = input("set the value of y=")

x = 3
y = 5

print("(x,y) =", "("+str(x)+",", str(y)+")")
print("--------------------------------------")

def swap(x,y):
    z = x
    x = y
    y = z
    return (x, y)

print("Swapped(x,y) =", swap(x, y))

print("--------------------------------------")


def swap_no_temp(x,y):
    return (y, x)

print("Swapped(x,y) =", swap_no_temp(x, y))

(x,y) = (3, 5)
--------------------------------------
Swapped(x,y) = (5, 3)
--------------------------------------
Swapped(x,y) = (5, 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math
#x = int(input("set the value of x = "))
#y = int(input("set the value of y = "))
#w = int(input("set the value of w = "))
#z = int(input("set the value of z = "))

x = 4
y = 5
w = 2
z = 3

u = (x, y)
v = (w, z)

def euc_d(u, v):
    d = math.sqrt((u[0] - v[0])**2 + (u[1] - v[1])**2)
    return(d)

print("Euclidean Distance between u and w: ", euc_d(u, v))

Euclidean Distance between u and w:  2.8284271247461903

#### 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [4]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
d = {}
def number_of_char(s):
   
    for char in s:
        convert_char = char.lower()
        if convert_char not in d:
            d[convert_char] = 1
        else:
            d[convert_char] += 1
    return d

print(number_of_char(s))
for k, v in d.items():
    print(k, "appears", v, "times")

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}
w appears 4 times
r appears 19 times
i appears 12 times
t appears 19 times
e appears 20 times
  appears 41 times
a appears 7 times
p appears 8 times
o appears 15 times
g appears 1 times
m appears 8 times
h appears 11 times
n appears 10 times
s appears 7 times
u appears 7 times
b appears 5 times
f appears 10 times
1 appears 2 times
0 appears 2 times
. appears 3 times
l appears 12 times
d appears 5 times
v appears 2 times
c appears 1 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_list(l):
    unique_l = []
    for i in range(0, len(l)):
        k = 0
        rep = 0
        for k in range(0, len(l)):
            if k != i and l[k] == l[i]:
                rep = rep+1
        if rep == 0:
            unique_l = unique_l+[l[i]]
    return(unique_l)

def count(unique_l):
    return len(unique_l)

unique_l = unique_list(l)


print("Unique list :", unique_list(l))
print("Unique numbers :", count(unique_l))

Unique list : [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Unique numbers : 37

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

l1 = []
n = len(l)
count = 0
for i in range(0, len(l)):
    k = 0
    rep = 0
    for k in range(0, len(l)):
        if k != i and l[k] == l[i]:
            rep = rep+1
    if rep == 0:
        l1 = l1+[l[i]]
        count += 1 
print("Unique list :", l1)
print("Unique numbers :", count)

Unique list : [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Unique numbers : 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
#x = int(input("set the value of x = "))

x = 4

def mysquare(x):
    square = x*x
    return square

def mycube(x):
    cube = x*x*x
    return cube


print("x^2 = ", mysquare(x))
print("x^3 = ", mycube(x))

y = mysquare(x)*mycube(x)*x
print("x^6 = ", y)

x^2 =  16
x^3 =  64
x^6 =  4096

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
list = []
for i in range(0,11):
    list.append(i*i*i)
print("List of cubes =", list)

cube_list = [x*x*x for x in range(11)]
print("List of cubes =", cube_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
import math


list = []
for c1 in range(1,100):
    for c2 in range(c1,100):
        ip = math.sqrt((c1)**2 + (c2)**2)
        ip_int = int(ip)
        if (ip-ip_int == 0 and ip < 100 ):
            triples = (ip_int, c1, c2)
            list.append(triples)
print("Pythagorean triples less than 100 = ", list)

Pythagorean triples less than 100 =  [(5, 3, 4), (13, 5, 12), (10, 6, 8), (25, 7, 24), (17, 8, 15), (15, 9, 12), (41, 9, 40), (26, 10, 24), (61, 11, 60), (20, 12, 16), (37, 12, 35), (85, 13, 84), (50, 14, 48), (25, 15, 20), (39, 15, 36), (34, 16, 30), (65, 16, 63), (30, 18, 24), (82, 18, 80), (29, 20, 21), (52, 20, 48), (35, 21, 28), (75, 21, 72), (40, 24, 32), (51, 24, 45), (74, 24, 70), (65, 25, 60), (45, 27, 36), (53, 28, 45), (50, 30, 40), (78, 30, 72), (68, 32, 60), (55, 33, 44), (65, 33, 56), (91, 35, 84), (60, 36, 48), (85, 36, 77), (65, 39, 52), (89, 39, 80), (58, 40, 42), (85, 40, 75), (70, 42, 56), (75, 45, 60), (73, 48, 55), (80, 48, 64), (85, 51, 68), (90, 54, 72), (95, 57, 76), (87, 60, 63), (97, 65, 72)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
s = (2, 4, 10, 6, 8, 4)

def normalize(s):
    s_max = s[1]
    if s[0] >= s[1]:
            s_max = s[0]
    for i in range(2,len(s)):          
        if s[i] >= s_max:           #searching for max value of s
            s_max = s[i]

    s_min = s[1]
    if s[0] <= s[1]:
            s_min = s[0]
    for i in range(2,len(s)):
        if s[i] <= s_min:             #searching for min value of s
            s_min = s[i]

    norm = (s[0]-s_min) / (s_max-s_min)            
    tp = (norm,)
    for i in range(1,len(s)):          #normalization of s
        value = s[i]
        norm = (value-s_min) / (s_max-s_min)
        tp_temp = (norm,)
        tp = (tp+tp_temp)
    return tp


print("Normalized entries: ", normalize(s))

Normalized entries:  (0.0, 0.25, 1.0, 0.5, 0.75, 0.25)